@charset "UTF-8";
/* —————————————— Header —————————————— */
.logotipo {
  width: 10rem;
  margin-left: 10px;
}

.index-header {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 5px;
  height: 90vh;
}

.contenedor-superior-header {
  display: flex;
  align-items: center;
  background-color: #754727;
  border-radius: 5px 5px 0px 0px;
}

.contenedor-inferior-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-bottom: 1rem;
}
.contenedor-inferior-header h1 {
  margin: 0;
  font-size: clamp(1.75rem, 1.375rem + 1.5vw, 2.5rem);
}
.contenedor-inferior-header p {
  text-align: center;
}

.index-nav a {
  color: #FFF;
  font-weight: 600;
  font-size: large;
}

.index-header-boton {
  background-color: #754727;
  padding: 8px 20px;
  color: #FFF;
  margin: 10px 10px;
  border: 2px #754727;
  border-radius: 5px;
}
.index-header-boton:hover {
  background-color: #CDA470;
  color: #361c0b;
}

/* —————————————— Footer —————————————— */
footer {
  background-color: #EDD495;
  padding: 1px 10px;
  border: 20px #EDD495;
  border-radius: 5px;
  margin-top: 1rem;
}
footer h2 {
  color: #532f1f;
  font-size: clamp(1.5rem, 1.325rem + 0.9vw, 1.75rem);
  font-weight: bold;
  margin: 10px;
}
footer a {
  color: #754727;
  font-weight: bold;
  font-size: large;
}
footer img {
  width: 4rem;
  margin-left: 5px;
  margin-right: 5px;
}

/* ———— Redes ———— */
.footer-redes {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding-inline-start: 1rem;
}
.footer-redes li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer-redes img {
  width: 2rem;
  height: auto;
  align-items: center;
  display: block;
}

.footer-nav a {
  color: #532f1f;
  font-weight: bold;
  font-size: large;
}

/* ———— Eventos ———— */
.main-eventos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4 1fr));
  grid-template-rows: repeat(2 200px);
  grid-template-areas: "principal principal principal principal" "destacado destacado destacado secundario";
}

.main-event {
  background-color: rgb(255, 245, 217);
  padding: 10px;
  border: 20px rgb(255, 245, 217);
  border-radius: 10px;
  margin: 8px 5px;
}

.evento-principal {
  grid-area: principal;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  min-width: 0;
}
.evento-principal img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.evento-principal-info {
  display: flex;
  flex-direction: column;
}

.evento-destacado {
  grid-area: destacado;
}

.evento-secundario {
  grid-area: secundario;
}

.evento-titulo {
  font-size: 1.5rem;
}

.evento-fecha {
  font-size: 1.2rem;
}

.evento-detalle {
  font-size: 1rem;
}

.main-card-flex, .main-title-container, .main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* —————————————— General —————————————— */
* {
  font-family: "Alan Sans", sans-serif !important;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

p {
  color: #754727;
  font-weight: 500;
}

h1 {
  color: #361c0b;
}

h2 {
  color: #FFF;
}

h3 {
  color: #532f1f;
}

/* —————————————— Main —————————————— */
.main-title {
  background-color: #754727;
  border-radius: 5px;
  margin-top: 1rem;
}

.main-title-container {
  margin-top: 2rem;
}
.main-title-container h3, .main-title-container p {
  margin: 0.5rem;
}

.main-container-flex {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.main-card {
  background-color: rgb(255, 245, 217);
  width: 20rem;
  padding: 10px;
  border: 20px rgb(255, 245, 217);
  border-radius: 10px;
  margin: 8px 5px;
}
.main-card h3, .main-card p {
  margin: 0.5rem;
  text-align: center;
}
.main-card button {
  background-color: #CDA470;
  color: rgb(255, 245, 217);
  width: 100%;
  font-size: medium;
  font-weight: 600;
  padding: 6px;
  border: 20px #CDA470;
  border-radius: 5px;
}
.main-card button:hover {
  background-color: #CDA470;
  color: #361c0b;
}

.main-card-flex {
  margin-bottom: 1rem;
}
.main-card-flex img {
  margin: auto;
  max-width: 100%;
  height: auto;
}

.main-card-detalle {
  font-style: italic;
  color: #CDA470;
}

/*# sourceMappingURL=estilos.css.map */
