@import "./layout/header";
@import "./layout/footer";
@import "./layout/eventos";
@import "./utilities/extends";
@import "./utilities/mixins";

/* —————————————— General —————————————— */

$light-yellow:rgb(255, 245, 217);
$light-brown: #CDA470;
$brown: #754727;
$dark-brown: #532f1f;
$darker-brown: #361c0b;

*{
    font-family: "Alan Sans", sans-serif !important;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
}

p{
    color: $brown;
    font-weight: 500;
}

h1{
    color: $darker-brown;
}


h2{
    color: #FFF;
}

h3{
    color: $dark-brown;
}


/* —————————————— Main —————————————— */

.main-title{
    @extend %main-flex;
    background-color: $brown;
    border-radius: 5px;
    margin-top: 1rem;
}

.main-title-container{
    @extend %main-flex;
    margin-top: 2rem;

    h3, p{
        margin:0.5rem;
    }
}

.main-container-flex{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.main-card{
    background-color: $light-yellow;
    width: 20rem;
    @include paddingAndBorder(10px, 20px $light-yellow, 10px);
    margin: 8px 5px;

    h3, p{
        margin:0.5rem;
        text-align: center;
    }

    button{
        background-color: $light-brown;
        color: $light-yellow;
        width: 100%;
        font-size: medium;
        font-weight: 600;
        @include paddingAndBorder(6px, 20px  $light-brown, 5px);
        
        &:hover{
            background-color: $light-brown;
            color: $darker-brown;
        }
    }
}

.main-card-flex{
    @extend %main-flex;
    margin-bottom: 1rem;

    img{
        margin: auto;
        max-width: 100%;
        height: auto;        
    }
}

.main-card-detalle{
    font-style: italic;
    color: $light-brown;
}