$light-yellow:rgb(255, 245, 217);

%main-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%card-base{
    background-color: $light-yellow;
    margin: 8px 5px;
}