/* —————————————— Footer —————————————— */

footer{
    background-color: #EDD495;
    padding: 1px 10px;
    border: 20px  #EDD495;
    border-radius: 5px;
    margin-top: 1rem;

    h2{
        color: #532f1f;
        font-size: clamp(1.5rem, calc(1.325rem + 0.9vw), 1.75rem);
        font-weight: bold;
        margin: 10px;        
    }

    a{
        color: #754727;
        font-weight: bold;
        font-size: large;        
    }

    img{
        width: 4rem;
        margin-left: 5px;
        margin-right: 5px;        
    }
}

/* ———— Redes ———— */

.footer-redes{
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding-inline-start: 1rem;

    li{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    img{
        width: 2rem;
        height: auto;
        align-items: center;
        display: block; 
    }
}

.footer-nav a{
    color: #532f1f;
    font-weight: bold;
    font-size: large;
}