/* —————————————— Header —————————————— */

.logotipo{
    width: 10rem;
    margin-left: 10px;
}

.index-header{
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 5px;
    height: 90vh;
}

.contenedor-superior-header{
    display: flex;
    align-items: center;
    background-color: #754727;
    border-radius: 5px 5px 0px 0px;
}

.contenedor-inferior-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-bottom: 1rem;

    h1{
        margin: 0;
        font-size: clamp(1.75rem, calc(1.375rem + 1.5vw), 2.5rem);
    }

    p{
        text-align: center;
    }
}

.index-nav a{
    color: #FFF;
    font-weight: 600;
    font-size: large;
}

.index-header-boton{
    background-color: #754727;
    padding: 8px 20px;
    color: #FFF;
    margin: 10px 10px;
    border: 2px #754727;
    border-radius: 5px;

    &:hover{
        background-color: #CDA470;
        color: #361c0b;
    }
}
